@tailwind base;
@tailwind components;
@tailwind utilities;


.container-test-1 .margin-all-page {
  max-width: 1300px;
  margin: 0 auto
}

.form-center {
  margin: 0 auto;
  color: red;
}

.container-registerProduct {
  z-index: 0;
}



.margin-registerProduct {
  position: relative;
  /* top: 20px; */
  margin: auto;
  width: 400px;
}

/* styles sidebar */

.navbar-main {
  position: sticky;
  top: 0;
  background-color: rgb(31 41 55);
  /* bg-gray-800 */
  height: 70px;
}



.title-navbar {
  position: relative;
  color: white;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  top: 10px;
  left: 30%;
}


@media (max-width: 600px) {


  .margin-registerProduct{
    width: 350px;
  }
}